<div class="row">
<h3>Buy A Single User License</h3>
<p>To purchase one or more single user licenses, use the PayPal button below. 
Each single user license is priced at $1000/year. When purchasing a single user 
license please use a corporate email address or 
an email address publicly associated with you. KnownPlainText does basic OSINT 
on potential customers and reserves the right to refuse to sell a subscription 
to anyone for any reason.</p>

<p><strong>100 Hashes Per Year (Free)</strong></p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="AJ238H2U77EDQ">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

<p><strong>Upload 1K Hashes Per Year ($50)</strong></p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="AJSPTF32ZJNRN">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>


<p><strong>Upload 10K Hashes Per Year ($250)</strong></p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="E95KDWSU3DATE">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

<p><strong>Upload Unlimited Hashes Per Year ($1000)</strong></p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="ZBV6BGHUEC6C8">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

<h3>Other Options</h3>
If you would like to purchase 10 or more single user license or would like to 
build an internal KnownPlainText server, please contact <a href="mailto:sales@knownplaintext.co">sales@knownplaintext.co</a></p>
</div>
