<div class=row>
<h3>Contact Us</h3>
<p>If you want to purchase a server license, please email 
<a href="mailto:sales@knownplaintext.co">sales@knownplaintext.co</a>. If you need 
help accessing the service or have a problem with the client software, please email 
<a href="mailto:support@knownplaintext.co">support@knownplaintext.co</a>. If you 
would like to report a security vulnerability in our software, please email 
<a href="mailto:security@knownplaintext.co">security@knownplaintext.co</a>. All 
other inquiries should be emailed to <a href="info@knownplaintext.co">info@knownplaintext.co</a>.</p>
</div>
