<div class="row">
<h3>Client Software</h3>
<p><a href="/static/downloads/client_source.zip">Python Source Code</a><br/>
You will need to install the Requests library for Python to use this client. Tested with 
Python 2.7.3.</p>
<p><a href="/static/downloads/client32.bin">Linux 32-bit Executable</a><br/>
Built and tested on Ubuntu 12.0.4. It should work on other reasonably up-to-date Linux 
systems.</p>
<p><a href="/static/downloads/client64.bin">Linux 64-bit Executable</a><br/>
Built and tested on Ubuntu 12.0.4. It should work on other reasonably up-to-date Linux 
systems.</p>
<p><a href="/static/downloads/client.exe">Windows 32/64 bit Executable</a><br/>
Should work on all modern Windows machines.</p>
</div>
