$def with (stats)
<h3>Stats</h3>
<div class="row">

<div class="span6 offset3">
    <div class="well" style="text-align:center">
        <h3>Crack Rate</h3>
        <h1>$stats['rate']%</h1>
    </div>
</div>

</div>

<div class="row">

<!-- <div class="span3">
    <div class="well" style="text-align:center">
        <h3>Requested</h3>
        <h1>$stats['hash_count']</h1>
    </div>
</div>

<div class="span3">
    <div class="well" style="text-align:center">
        <h3>Cracked</h3>
        <h1>$stats['cracked_count']</h1>
    </div>
</div> -->

<div class="span6">
    <div class="well" style="text-align:center">
        <h3>NT Hashes</h3>
        <h1>$stats['nt_size']</h1>
    </div>
</div>

<div class="span6">
    <div class="well" style="text-align:center">
        <h3>LM Hashes</h3>
        <h1>$stats['lm_size']</h1>
    </div>
</div>

</div>

