<h3>Thank You For Your Purchase</h3>
<p class="lead">Sometime in the next 24-48 hours you will receive a license key which will allow you to access the KnownPlainText database. Please keep it secure. If you do not receive your license key, if the license key does not work, or you lose your license key, please contact <a href="mailto:sales@knownplaintext.co">sales@knownplaintext.co</a> as soon as possible.</p>
<p class="lead">While you are waiting for your key, you can read the <a href="/tos">license and terms of use</a>, <a href="/client">download the client application</a>, and read the installation and usage instructions below.<p>

<h3>Installation</h3>
<p>
<ol>
<li class="lead">Create a directory and <a href="/client">download</a> the client application and license key to that directory.</li>
<li class="lead">Rename the license key to "license.key" without the quotes.</li>
</ol>
</p>

<h3>Usage</h3>
<p class="lead">To use the client, run either:<pre>python client.p -p hash_file</pre> or <pre>python client.py -f hash_file</pre></p> 
<p class="lead">When using the -p option, the hash file should be in pwdump format. When using the -f option, the hash file should be in LM:NTLM format with one hash pair per line. </p>
