<div class="row">
<h3>Thank You For Your Purchase</h3>
<p>Sometime in the next 24-48 hours you will receive a license key which will allow you to 
access the KnownPlainText database. Please keep it secure. If you do not receive your 
license key, if the license key does not work, or you lose your license key, please contact 
<a href="mailto:sales@knownplaintext.co">sales@knownplaintext.co</a> as soon as possible.</p>
<p>While you are waiting for your key, you can read the license and terms of use, download 
the client application, and read the installation and usage instructions.<p>

<h3>License and Terms of Use</h3>
<p>The license you purchased is valid for a single user only. While you can install the 
softare and license key on multiple machines you may only use it on one machine at a time.</p> 

<p>The KnownPlainText service is intended to be used for legal/ethical use only. It is your 
responsibility to obtain appropriate permission to upload and crack the passwords you 
submit to us.</p>

<p>The KnownPlainText.co software, site and service are provided by the copyright holders and 
contributors "as is" and any express or implied warranties, including, but not limited to, 
the implied warranties of merchantability and fitness for a particular purpose are disclaimed. 
In no event shall the owner of KnownPlainText.co or contributors be liable for any direct, 
indirect, incidental, special, exemplary, or consequential damages (including, but not 
limited to, procurement of substitute goods or services; loss of use, data, or profits; or 
business interruption) however caused and on any theory of liability, whether in contract, 
strict liability, or tort (including negligence or otherwise) arising in any way out of the 
use of this software, even if advised of the possibility of such damage.</p>

<p>You may not use the KnownPlainText.co service or the data associated with the service 
to build additional services, whether you charge for them or not, without express 
written permission from the owner.</p>

<p>You may no resell the KnownPlainText.co service or data without express written 
permission from the owner.</p>

<p>You may not integrate the KnownPlainText.co service or data into any other software 
or service without express written permission from the owner.</p>

<p>KnownPlainText.co reserves the right to revoke your access, without refund, at any time and for any reason 
including, but not limited to, abuse/misuse of the service or suspected illegal activity.</p>

<h3>Installation</h3>
<p>
<ol>
<li>Create a directory and <a href="downloads">download</a> the client application and license key to that 
directory.</li>
<li>Rename the license key to "license.key" without the quotes.</li>
</ol>
</p>

<h3>Usage</h3>
<p>To use the client, run either:<pre>client -p hash_file</pre> or <pre>client -f hash_file</pre></p> 
<p>When using the -p option, the hash file should be in pwdump format. When using the -f 
option, the hash file should be in LM:NTLM format with one hash pair per line. </p>
</div>
