<h3>License and Terms of Use</h3>
<ol>
<li class="lead">The license you purchased is valid for a single user only. While you can install the software and license key on multiple machines you may only use it on one machine at a time.</li> 

<li class="lead">The KnownPlainText service is intended to be used for legal/ethical use only. It is your responsibility to obtain appropriate permission to upload and crack the passwords you submit to the service.</li>

<li class="lead">The KnownPlainText.co software, site and service are provided by the copyright holders and contributors "as is" and any express or implied warranties, including, but not limited to, the implied warranties of merchantability and fitness for a particular purpose are disclaimed. In no event shall the owner of KnownPlainText.co or contributors be liable for any direct, indirect, incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute goods or services; loss of use, data, or profits; or business interruption) however caused and on any theory of liability, whether in contract, strict liability, or tort (including negligence or otherwise) arising in any way out of the use of this software, even if advised of the possibility of such damage.</li>

<li class="lead">You may not use the KnownPlainText.co service or the data associated with the service to build additional services, whether you charge for them or not, without express written permission from the owner.</li>

<li class="lead">You may no resell the KnownPlainText.co service or data without express written permission from the owner.</li>

<li class="lead">You may not integrate the KnownPlainText.co service or data into any other software or service without express written permission from the owner.</li>

<li class="lead">KnownPlainText.co reserves the right to revoke your access, without refund, at any time and for any reason including, but not limited to, abuse/misuse of the service or suspected illegal activity.</li>
</ol>
